.texto_branco{
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    display: block;
    font-size: 18px;
    padding: 10px;
}

.pageLogin, :host, ion-list, ion-item {
    --background: #2d59a8;
    background: #2d59a8;
    border:none;
}

ion-input{ 
    --background: #FFFFFF;
    background: #FFFFFF;    
    --padding-end: 10px !important;
    --padding-start: 10px !important;    
    --inner-border-width: 0;    
    --padding-top: 12px; 
    --padding-bottom: 12px; 
    margin-bottom: 5px;
    border-radius: 3px;
}

ion-item{
    --inner-border-width: 0;    
}

.label-ios, .label-md{
    margin:0px !important;
}

.item-inner{
    border:none !important;
}

.bk_white{
    // background:#FFFFFF;
    float: left;
    width: 100%;;
}

.logo_login img{ 
    display:block;    
    margin:5% auto 5%;
}

.end_login{
    color: #2d59a8;
    background: #FFFFFF;
    padding: 10px;
    text-align: center;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}


.text-input-ios, .text-input-md{
    margin:0px 0px 5px 0px;
}

.bt_login{
    width: 100%;
    background: #FFFFFF;
    --background: #FFFFFF;
    border-radius: 3px;
    display:block;
    font-weight: bold;
    text-align: center;
    color: #2d59a8;
    font-size: 18px;
    padding:12px 0px;
    height: auto;
    --inner-border-width: 0; 
    --box-shadow: 0;
}

.semge_logo{
    margin-top:15px;
}