<ion-content class="pageLogin">

    <ion-list>
        <ion-item class="logo_login" lines="none" >
            <img src="assets/imgs/logo_prin.png"/>                
        </ion-item>
        
        <ion-item lines="none">
            <ion-input [(ngModel)]="formLogin.username" placeholder="E-mail" type="email"></ion-input>
        </ion-item>
        
        <ion-item lines="none">
            <ion-input [(ngModel)]="formLogin.password" placeholder="Senha" type="password"></ion-input>
        </ion-item>

        <ion-item lines="none">
                <ion-button expand="full" class="bt_login" (click)="login()">Entrar</ion-button>
        </ion-item>

        <ion-row class="texto_branco">
            <ion-col (click)="esqueci_senha()">
                Esqueci minha senha
            </ion-col>
        </ion-row>

        <ion-row class="texto_branco">
            <ion-col (click)="cadastre_se()">
                Cadastrar-se
            </ion-col>
        </ion-row>
    </ion-list> 

</ion-content>
<ion-footer class="end_login">
    <ion-row>
        <ion-col>
            Páginas Oficiais
        </ion-col>
        <ion-row class="bk_white">
            <ion-col (click)="openLinkExterno('http://www.salvador.ba.gov.br/')">
                <img src="assets/imgs/logo_prefeitura_ssa.jpg" />
            </ion-col>
            <ion-col (click)="openLinkExterno('http://www.gestaopublica.salvador.ba.gov.br/')">
                <img src="assets/imgs/logo_semge.jpg" class="semge_logo"/>
            </ion-col>
        </ion-row>
    </ion-row>
</ion-footer>  
