<ion-header>
    <ion-toolbar>
      <ion-title class="centro margemLeft">
        Salvador APP
      </ion-title>
  
      <ion-buttons slot="end" (click)="logoff()">
          <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-buttons>     
  
    </ion-toolbar>
  </ion-header>

<ion-content>

    <ion-card-header>
        <ion-card-title>Favoritos</ion-card-title>
    </ion-card-header>

    <ion-grid class="gridFavoritos" *ngIf="not_found==false">

        <ion-row>
          
            <ion-col sizeLg="4" sizeMd="4" sizeXs="4" *ngFor="let servico of lista_servicos" (click)="openFavorite(servico)">
              <ion-icon name="{{servico.icon}}"></ion-icon>
              <br />
              {{ servico.label }}
            </ion-col>
                         
        </ion-row>

       

    </ion-grid>

    <ion-list lines="none" *ngIf="not_found==true">
      <ion-card>
          <ion-card-content>
              Você não possui favoritos até o momento.
          </ion-card-content>
      </ion-card>
  </ion-list>

</ion-content>
