.gridFavoritos{
    text-align: center;
}

.gridFavoritos ion-col{
    padding: 20px 0px;
}

.gridFavoritos ion-icon{
    font-size:35px;
    padding: 5px;
    color: #2d59a8;
}

.gridFavoritos ion-label{
    font-size: 20px;
}