.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

ion-item-options ion-icon{
  color: #FFFFFF;
}

ion-searchbar .searchbar-input{
  background: #FFFFFF !important;
  --background: #FFFFFF !important;
}
