<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="input_search==false">
      SEMGE
    </ion-title>

    <ion-searchbar *ngIf="input_search==true"
        type = "search" 
        placeholder="Pesquisar serviço"
        (ionInput) = "filtrarServicos($event)" 
        (ionCancel)="ocultarSearch($event)"
        showCancelButton=true
        clear-icon = "close"
        showCancelButton="focus" cancelButtonText="Custom Cancel">         
    </ion-searchbar>

    <ion-buttons slot="start" *ngIf="input_search==false" (click)="openSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-buttons>

    <ion-buttons slot="end" *ngIf="input_search==false" (click)="logoff()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
    
    <ion-card-header>
        <ion-card-title>Menu</ion-card-title>
    </ion-card-header>

    <ion-list lines="none">
      
      <ion-item *ngFor="let servico of lista_servicos"  href="{{servico.acao}}">
        <ion-icon slot="start" color="medium" name="{{servico.icon}}"></ion-icon>
        <ion-label>{{servico.label}}</ion-label>
      </ion-item>

    </ion-list>
</ion-content>
