<ion-header>
  <ion-toolbar>
    <ion-title class="centro">
      Salvador APP
    </ion-title>

    <ion-buttons slot="end" (click)="logoff()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
    
    <ion-card-header>
        <ion-card-title>Menu</ion-card-title>
    </ion-card-header>

    <ion-item>
      <ion-label>Olá, {{this.getNome()}}</ion-label>
    </ion-item>

    <ion-list lines="none">
      
      <ion-item-sliding *ngFor="let servico of lista_servicos">
          <ion-item (click)="openService(servico)">
              <ion-icon slot="start" color="medium" name="{{servico.icon}}"></ion-icon>
              <ion-label>{{servico.label}}</ion-label>                      
          </ion-item>
      
      </ion-item-sliding>


    </ion-list>

</ion-content>
