.bt_esqueci{
    width: 100%;
    background: #2d59a8;
    --background: #2d59a8;
    border-radius: 3px;
    display:block;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    font-size: 14px;
    padding:12px 0px;
    height: auto;
    --inner-border-width: 0; 
    --box-shadow: 0;
}