<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button text="Voltar"></ion-back-button>
        </ion-buttons>
      <ion-title slot="start">Salvador APP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card-header>
        <ion-card-title>Esqueci minha senha</ion-card-title>
    </ion-card-header>

    <ion-list class="ion-padding">

        <ion-item lines="none">
            <ion-input [(ngModel)]="formEsqueci.email" placeholder="Informe seu e-mail" type="email" required #email></ion-input>
        </ion-item>
        <ion-item lines="none"> </ion-item lines="none">
        <ion-item  lines="none"> 
                <ion-button expand="full" class="bt_esqueci" (click)="esqueci_senha()">Solicitar nova senha</ion-button>
        </ion-item>

        
    </ion-list> 

</ion-content>
