/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


ion-header ion-toolbar:first-child{
    --background: #2d59a8 !important;
    background: #2d59a8 !important;
    color: #FFFFFF !important;
    font-weight: bold;
    text-align: center;
}

ion-label{
    white-space: normal !important;
}

ion-tab-bar{
    --background: #f2f2f2 !important;
    background: #f2f2f2 !important;
}

ion-tab-bar ion-icon, ion-tab-bar ion-label{
    color: #666666 !important;    
}

ion-tab-bar .tab-selected ion-icon, ion-tab-bar .tab-selected ion-label{
    color: #2d59a8 !important;
    font-weight: bold;
}

ion-header ion-toolbar ion-icon, ion-header ion-toolbar iion-label{
    color: #FFFFFF !important;    
}

ion-header ion-toolbar ion-searchbar ion-icon{
    color: #2d59a8 !important;    
}

ion-header ion-toolbar ion-buttons{
    margin:10px;
}

ion-card-header{
    background: #f2f2f2;
}

ion-card-title{
    color: #666666 !important;
    font-weight: bold;
}

ion-content ion-icon{
    --ion-color-medium:#2d59a8;    
}

ion-searchbar .searchbar-input{
    background: #FFFFFF !important;
    --background: #FFFFFF !important;
}

ion-searchbar{
    padding:15px 0px !important;
}

ion-searchbar .searchbar-cancel-button .sc-ion-searchbar-ios{
    color: #FFFFFF !important;
    --color: #FFFFFF !important;
}

.button-text{
    color: #FFFFFF !important;
    --color: #FFFFFF !important;
}